*.pt filter=lfs diff=lfs merge=lfs -text
Diffusion/checkpoints/sparse_trans_waypoints_epoch_1500_headingremoved.pth filter=lfs diff=lfs merge=lfs -text
checkpoints/imitate_trans_waypoints_epoch_1500_headingremoved.pth filter=lfs diff=lfs merge=lfs -text
