__pycache__/
*.pyc
.ipynb_checkpoints/

# large generated outputs
checkpoints/
*.pth
*.pt
!/dataset_grf_60.pt
*.log
*_viz/
*_chunks/
rmse_comparisons_*/
csv/

# local env/editor
.env
.venv/
.DS_Store
Diffusion/old/
